

.caret.smooth {
    transition: transform 100ms;
}

.caretBlink {
    animation: caretAnimation 1.1s step-start infinite;
}

.caretBlinkSmooth {
    animation: caretAnimation 1.25s ease infinite;
}

@keyframes caretAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}